<h3 class="ui header">{{t "forms.i-i-s-kursovaya1-опреации-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya1-опреации-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-kursovaya1-опреации-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field" data-test-i-i-s-kursovaya1-опреации-e-действие="true">
    <label>{{t "forms.i-i-s-kursovaya1-опреации-e.действие-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-kursovaya1-t-действие")
      value=model.действие
      class=(if (v-get validationModel "действие" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "действие" "message")}}
  </div>
  <div class="field" data-test-i-i-s-kursovaya1-опреации-e-состояние="true">
    <label>{{t "forms.i-i-s-kursovaya1-опреации-e.состояние-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-kursovaya1-t-состояние")
      value=model.состояние
      class=(if (v-get validationModel "состояние" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "состояние" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya1-опреации-e.оборудование-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.оборудование
      relationName="оборудование"
      projection="ОборудованиеL"
      title=(t "forms.i-i-s-kursovaya1-опреации-e.оборудование-caption")
      readonly=readonly
      componentName="оборудованиеLookup"
      class=(if (v-get validationModel "оборудование" "isInvalid") "error")
      data-test-i-i-s-kursovaya1-опреации-e-оборудование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "оборудование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.оборудование.название
      class=(if (v-get validationModel.оборудование "название" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-опреации-e.оборудование.название-caption")
      data-test-i-i-s-kursovaya1-опреации-e-оборудование-название=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.оборудование "название" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya1-опреации-e.оборудование.сотрудник.админ-caption"}}</label>
    {{flexberry-checkbox
      readonly=true
      value=model.оборудование.сотрудник.админ
      class=(if (v-get validationModel.оборудование.сотрудник "админ" "isInvalid") "error")
      data-test-i-i-s-kursovaya1-опреации-e-оборудование-сотрудник-админ=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.оборудование.сотрудник "админ" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.оборудование.сотрудник.фИО
      class=(if (v-get validationModel.оборудование.сотрудник "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-опреации-e.оборудование.сотрудник.фИО-caption")
      data-test-i-i-s-kursovaya1-опреации-e-оборудование-сотрудник-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.оборудование.сотрудник "фИО" "message")}}
  </div>
</form>
