<h3 class="ui header">{{t "forms.i-i-s-kursovaya1-оборудование-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.название
      class=(if (v-get validationModel "название" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-оборудование-e.название-caption")
      data-test-i-i-s-kursovaya1-оборудование-e-название=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "название" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.инвНомер
      class=(if (v-get validationModel "инвНомер" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-оборудование-e.инвНомер-caption")
      data-test-i-i-s-kursovaya1-оборудование-e-инвНомер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "инвНомер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.датаДобавления
      class=(if (v-get validationModel "датаДобавления" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-оборудование-e.датаДобавления-caption")
      data-test-i-i-s-kursovaya1-оборудование-e-датаДобавления=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаДобавления" "message")}}
  </div>
</form>
